@import url('https://fonts.googleapis.com/css?family=Lato:700i|Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --hl-clr: #45b29a;
    --text-pry: #092545;
    --act-clr: #ff9f63;
    --bg-pry: #fff;
    --bg-sec: #e0ebe8;
}

body {
    overflow-x: hidden;
}


/* 
Colors
     #50c879  #ff7e66
#009f6b 007f56
accent Complimentary:#45cea2 #ff8f51
ef50000 F2854e
sham #45cea2
sean #45b29a
*/


/* Nav bar */

.nav {
    padding: 40px;
    /*  background: var(--bg-sec); */
}

.nav-logo {
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: italic;
    padding: 1.5rem;
    border: 1px solid var(--text-pry);
    border-radius: 50%;
    text-align: center;
    margin: 100px;
    color: var(--text-pry)
}

.nav-ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
}

.nav-list {
    list-style-type: none;
}

.nav-items {
    font-family: Lato, sans-serif;
    font-style: oblique;
    text-decoration: none;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 24px;
    color: #030303;
    align-self: center;
}

.nav-items:hover,
.nav-logo:hover {
    color: var(--text-pry);
}


/* Eyes follow */

.eyes {
    top: 25%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 0.2em;
    margin-top: 25px;
}

.eye {
    width: 60px;
    height: 30px;
    background: var(--bg-pry);
    display: inline-block;
    margin: 5px;
    /*   border: 1px solid #e0ebe8; */
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.ball {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.87);
    position: absolute;
    border: 10px solid var(--act-clr);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img {
    height: 100vh;
    width: 100vw;
    background: url(./img/a-water-falls-in-a-mountain-forest-2892007.jpg) no-repeat center center fixed;
}