@import url('https://fonts.googleapis.com/css?family=Lato:700i|Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hl-clr: #45b29a;
    --text-pry: #092545;
    --text-sec: #fff;
    --act-clr: #ff9f63;
    --bg-pry: #fff;
    --bg-sec: #e0ebe8;
}

body {
    overflow-x: hidden;
}


/* 
Colors
     #50c879  #ff7e66
#009f6b 007f56
accent Complimentary:#45cea2 #ff8f51
ef5fff0 F2854e
sham #45cea2
sean #45b29a
*/


/* Nav bar */

.nav {
    padding: 2.5rem;
    /*  background: var(--bg-sec); */
}

.nav-logo {
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: italic;
    padding: 1.5rem;
    border: 1px solid var(--text-pry);
    border-radius: 50%;
    text-align: center;
    margin: 80px;
    color: var(--text-pry)
}

.nav-ul {
    display: flex;
    justify-content: flex-end;
    margin: auto 2em auto 0;
}

.nav-list {
    list-style-type: none;
}

.nav-items {
    font-family: Lato, sans-serif;
    font-style: oblique;
    text-decoration: none;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 24px;
    color: #030303;
    align-self: center;
}

.nav-items:hover,
.nav-logo:hover {
    color: var(--text-pry);
}


/* Eyes follow */

.eyes {
    transform: translateY(-70%);
    width: 100%;
    text-align: center;
}

.eye {
    width: 65px;
    height: 35px;
    background: var(--bg-pry);
    display: inline-block;
    margin: 5px;
    border: 1px solid #e0ebe8;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.ball {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.1rem;
    background: var(--text-pry);
    position: absolute;
    border: 8px solid var(--act-clr);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Hero section */

.hero {
    /* background: url("./img/hero/a-water-falls-in-a-mountain-forest-2892007.jpg"); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Be sure to change this */
    height: 110vh;
    width: 100vw;
    text-align: center;
    color: var(--text-sec);
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.time {
    font-size: 5rem;
    font-weight: 600;
}

.greeting {
    font-style: normal;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 58px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

#description {
    padding: 90px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}


/* Blinking cursor */

.txt-type>.txt {
    margin: 0 auto;
    border-right: 0.25rem solid #fff;
    animation: cursor 1s steps(70) infinite
}

@keyframes cursor {
    0% {
        border-color: rgba(255, 255, 255, 0.143)
    }
    20% {
        border-color: #fff
    }
    50% {
        border-color: #fff
    }
    70% {
        border-color: #fff
    }
    200% {
        border-color: #fff
    }
}


/* Showcase */

.cards-container {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.cards {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.cards-one {
    background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

.cards-main {
    position: relative;
    display: flex;
    margin: 0 5em;
}

.card-pic-one {
    /*   padding: 0 2px 0 2px; */
    height: 38rem;
    width: 38rem;
}

.card-pic-two {
    position: absolute;
    left: 73%;
    top: 33%;
    height: 20rem;
    width: 20rem;
}

.card-pic-three {
    height: 40rem;
    width: 40rem;
}

.card-pic-four {
    position: absolute;
    left: 58%;
    top: -33%;
    height: 22rem;
    width: 22rem;
}

.cards-info {
    margin: 0 5em;
    color: var(--text-sec);
}


/* 
.content-1 {
font-family: Lato, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 300;
letter-spacing: 2px;
line-height: 36px;
text-transform: none;
color: #2E2E2E;
 background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
} */