@import url('https://fonts.googleapis.com/css?family=Lato:700i|Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Clean up css */

:root {
    --hl-clr: #38D39F;
    --text-pry: #092545;
    --text-sec: #fff;
    --act-clr: #ff9057;
    --bg-pry: #fff;
    --bg-sec: #e0ebe8;
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
    outline: transparent;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}


/* 
Colors
     #50c879  #ff7e66
#009f6b 007f56
accent Complimentary:#45cea2 #ff8f51
ef5fff0 F2854e
sham #45cea2
sean #45b29a
*/


/* Nav bar */

.nav {
    display: flex;
    padding: 1rem;
    font-family: Lato, sans-serif;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.1) 100%);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    color: var(--text-sec);
    z-index: 1000;
    font-weight: 500;
}

.nav-ul {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding-left: 10rem;
}

.nav-logo {
    font-size: 1.7rem;
    font-style: italic;
    padding: 1.6rem;
    border: 1px solid var(--text-pry);
    border-radius: 50%;
    text-align: center;
    margin: 0.5rem;
}

.nav-link {
    list-style-type: none;
    margin: 1rem;
}

.nav-link>a {
    font-family: Lato, sans-serif;
    text-decoration: none;
    padding: 0 0.6rem;
    border-radius: 18px;
    font-size: 1.7rem;
    font-style: oblique;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24px;
    align-self: center;
    color: var(--text-sec);
    /* Linear gradient hack */
    background-image: linear-gradient(90deg, transparent 50%, #6DB357 50%);
    background-size: 200%;
    transition: background-position 0.3s linear;
}

.nav-link>a:hover {
    /* Push the background a 100% of it's width */
    background-position: -100%;
}


/* Hero section */

.hero {
    /* background: url("./img/hero/a-water-falls-in-a-mountain-forest-2892007.jpg"); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Be sure to change this */
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: var(--text-sec);
    font-family: 'Lato', sans-serif;
    font-style: italic;
    padding-top: 4rem;
}

.time {
    font-size: 5rem;
    font-weight: 600;
}

.greeting {
    font-style: normal;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 58px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

#description {
    padding: 90px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}


/* Blinking cursor */

.txt-type>.txt {
    margin: 0 auto;
    border-right: 0.25rem solid #fff;
    animation: cursor 1s steps(70) infinite
}

@keyframes cursor {
    0% {
        border-color: rgba(255, 255, 255, 0.143)
    }
    20% {
        border-color: #fff
    }
    50% {
        border-color: #fff
    }
    70% {
        border-color: #fff
    }
    200% {
        border-color: #fff
    }
}


/* Showcase */


/* The smaller image of all device pairs are absolutely fixed, as their parents (Cards) are relative */

.cards-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-top: 0;
}

.cards {
    /* margin-top: 1rem; */
    display: flex;
    height: 110vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.cards-one {
    background: linear-gradient(89deg, #ff5edf 0%, #04c8de 80%);
}

.cards-main {
    position: relative;
    display: flex;
    margin: 0 5em;
}

.card-pic-one {
    /*   padding: 0 2px 0 2px; */
    height: 38rem;
    width: 38rem;
}

.card-pic-two {
    position: absolute;
    left: 28rem;
    top: 11.8rem;
    height: 20rem;
    width: 20rem;
}

.cards-two {
    background: linear-gradient(95deg, #3B6C77 0%, #6DB352 70%);
}

.card-pic-three {
    height: 40rem;
    width: 40rem;
}

.card-pic-four {
    position: absolute;
    top: 13rem;
    left: 25rem;
    height: 20rem;
    width: 20rem;
}

.cards-three {
    background: linear-gradient(90deg, #9CD4ED 0%, #837673 70%);
}

.card-pic-five {
    height: 40rem;
    width: 40rem;
}

.card-pic-six {
    position: absolute;
    top: 12.5rem;
    left: 28rem;
    height: 22rem;
    width: 22rem;
}

.cards-four {
    background: linear-gradient(90deg, #7FB862 30%, #82C0DD 90%);
}

.card-pic-seven {
    height: 45rem;
    width: 45rem;
}

.card-pic-eight {
    position: absolute;
    top: 17rem;
    left: 30rem;
    height: 20rem;
    width: 20rem;
}

.cards-five {
    background: linear-gradient(90deg, #5DA2B7 20%, #697D8A 90%);
}

.card-pic-nine {
    height: 45rem;
    width: 45rem;
}


/* .card-pic-ten {
    height: 26rem;
    width: 26rem;
    position: absolute;
    top: 9.5rem;
    left: 27rem;
} */

.cards-info {
    margin: 0 4rem;
    padding: 1rem;
    color: var(--text-sec);
    width: 20rem;
    min-height: 22rem;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    font-size: 1.1rem;
}

.cards-info>h1 {
    margin: 1rem;
    padding: 0.5rem;
}

.info-icons {
    margin: 2rem 1rem;
    height: 3rem;
    width: 3rem;
    transition: 0.5s ease-in-out;
}

.info-icons:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}


/* Achievements */

.achieve {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #38D39F 10%, #FF8344 90%);
    color: white;
}


/* Why me  */

.reasons {
    margin-top: 4rem;
    padding-top: 7rem;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #38D39F 20%, #FF8344 90%);
    justify-content: space-around;
}

.reasons-card {
    width: 20rem;
    height: 26.5rem;
    border-radius: 18px;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 2rem;
    cursor: pointer;
    color: var(--text-pry);
    transition: 0.3s ease
}

.reasons-card:hover {
    transform: scale(1.07);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
}


/* height of container */

.reasons-card-img {
    height: 50%;
}

.reasons-card-img-one {
    background: url('./img/reasons/undraw_developer_activity_bv83.svg') no-repeat center center / cover;
}

.reasons-card-img-two {
    background: url('./img/reasons/undraw_reviewed_docs_neeb.svg') no-repeat center center / cover;
}

.reasons-card-img-three {
    background: url('./img/reasons/undraw_programming_2svr.svg') no-repeat center center / cover;
}

.reasons-card-img-four {
    background: url('./img/reasons/undraw_Mobile_application_mr4r.svg') no-repeat center center / cover;
}

.reasons-card-img-five {
    background: url('./img/reasons/undraw_web_developer_p3e5o.svg') no-repeat center center / cover;
}

.reasons-card-img-six {
    background: url('./img/reasons/undraw_team_spirit_hrr4.svg') no-repeat center center / cover;
}

.reasons-card-text {
    margin: 0.5rem;
    font-family: 'Raleway';
    font-size: 0.95rem;
    height: 40%;
}

.reasons-card-text>h2 {
    font-family: Lato sans-serif;
}

.reasons-card-text>p {
    padding: 2rem;
    font-size: 1rem;
    letter-spacing: 2px;
}

.reasons-footer {
    height: 10%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.reasons-footer-odd {
    background: #38D39F;
}

.reasons-footer-even {
    background: #FF8344;
}


/* Contact Section */

.contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin-top: 4rem;
    align-items: center;
    color: var(--text-pry);
    padding-top: 8rem;
}

.hiring {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 15rem;
    border-radius: 18px;
    padding: 1rem;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
}

.hiring>h2 {
    font-weight: 200
}

.hiring-btn {
    padding: 1rem;
    margin: 2rem;
    background: var(--hl-clr);
    color: var(--text-sec);
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid var(--hl-clr);
    border-radius: 18px;
}

.hiring-icon {
    height: 3rem;
    width: 3rem;
    background: var(--text-sec);
    border-radius: 20%;
    vertical-align: middle;
}

.message>h2 {
    margin-top: 2rem;
    font-weight: 200;
    padding: 1rem;
}

.message-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.message-list>li {
    margin: 2rem;
}

.message-list>li>a>button {
    padding: 0.5rem;
    background-color: var(--hl-clr);
    border-radius: 18px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-sec);
    border: 1px solid var(--hl-clr);
}

.message-list>li>button {
    padding: 0.5rem;
    background-color: var(--hl-clr);
    border-radius: 18px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-sec);
    border: 1px solid var(--hl-clr);
}

.message-icon {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
}

.message-btn {
    transition: 0.5s ease;
}

.message-btn:hover {
    background-color: var(--text-pry);
    transition: 0.5s ease;
    transform: scale(1.2);
}

.flash-icon {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
}

.down-icon {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
}

.socialize>h2 {
    font-weight: 300
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.social-li>a {
    text-decoration: none;
    color: var(--text-pry);
}

.social-icon {
    margin: 2rem;
    height: 3rem;
    width: 3rem;
    transition: 0.5s ease;
}

.social-icon:hover {
    transform: scale(1.4);
    transition: all 0.5s ease;
}

.social-txt {
    padding-left: 2rem;
}

.footer {
    color: var(--text-sec);
    min-height: 20rem;
    width: 100vw;
    background: linear-gradient(90deg, #38d39f 30%, rgba(108, 179, 87, 0.711) 70%);
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 1rem;
}

.footer>p {
    padding: 1.3rem;
}

.footer>p>a {
    text-decoration: none;
    color: var(--text-sec);
    font-style: oblique;
    font-weight: 700;
    background-image: linear-gradient(90deg, transparent 50%, #6DB357 50%);
    background-size: 200%;
    transition: background-position 0.3s linear;
    border-radius: 18px;
    padding: 0 0.2rem;
    text-transform: capitalize;
}

.footer>p>a:hover {
    background-position: -100%;
}

.copy-icon {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
}


/* #B8EBD0
svg green #38D39F


#3B6C77

#0D0A09
#9CD4ED
#7FB862
#82C0DD
#5DA2B7
#F2CDD2
*/